body{
	background-color:#407873;
	margin-left:100px;
	margin-right:100px;
}
h1{
	color:#ece2d3;
	font-family:timesnewroman;
	font-style:bold;
	font-style:italic;
	font-size:30pt;
	width:45%;
}
h2{
	color:#ece2d3;
	font-family:myanmarmn;
	font-style:bold;
	font-size:30pt;
	text-align:right;
	margin-left:45%;
}
#line4{
	margin-top:150px;
	margin-bottom:200px;
}
#line5{
	margin-top:900px;
}
#chi{
	font-size:60pt;
	position:absolute;
	display:inline-block;
	top:800px;
	right:65%;
}
#chi2{
	font-size:60pt;
	position:absolute;
	top:880px;
	right:65%;
}
#hi{
	font-size:60pt;
	position:absolute;
	top:880px;
	right:40%;
}
#hi2{
	font-size:60pt;
	position:absolute;
	top:960px;
	right:40%;
}
#ro{
	font-size:60pt;
	position:absolute;
	top:760px;
	right:22%;
}
#ro2{
	font-size:60pt;
	position:absolute;
	top:840px;
	right:29%;
}
div{
	background-color:#c56c6d;
	width:160px;
	height:160px;
	z-index:-1;
	margin:0;
	border-radius:80px;
	position:absolute;
}
#circle1{
	top:-30px;
	right:-50px;
}
#circle2{
	top:20px;
	right:30px;
}
#circle3{
	top:50px;
	right:300px;
}
#circle4{
	top:400px;
	right:-60px;
}
#circlehi{
	top:940px;
	right:38%;
}
#circle6{
	top:350px;
	right:20px;
}
#circle7{
	top:440px;
	right:180px;
}
#circle8{
	top:370px;
	right:280px;
}
#circle9{
	top:460px;
	right:320px;
}
#circle10{
	top:400px;
	right:430px;
}
#circlechi{
	top:850px;
	right:68%;
}
#circlero{
	top:800px;
	right:20%;
}