@import url('https://fonts.googleapis.com/css?family=Montserrat:500|700');
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

body{
	margin:0;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size:32pt;
	position:fixed;
	top:10vh;
	left:30vw;
}
.contain{
	display:flex;
	flex-direction:column;
	position:absolute;
	width:100vw;
}
.block{
	display:block-flex;
	flex-direction:column;
	font-family: 'Montserrat', sans-serif;
	margin-top:20px;
	margin-bottom:20px;
	align-items:center;
	text-align:center;
}
.cityName{
	font-size:20pt;
	display:none;
}
.division{
	width:50vw;
	height:100vh;
}
object{
	margin-top:10px;
	margin-bottom:10px;
	fill:blue;
}
.revert{
	background-color:white;
	mix-blend-mode:difference;
	width:50vw;
	height:150vh;
	position:fixed;
	top:-25vh;
	left:50vw;
}
#klShape{
}