@import url('https://fonts.googleapis.com/css?family=Montserrat:500|700');
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity:0.3;
	}
	100% {
		opacity:1;
	}
}

body{
	margin:0;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size:32pt;
	position:fixed;
	top:10vh;
	left:30vw;
}
.contain{
	display:flex;
	flex-direction:column;
	position:absolute;
	width:100vw;
	top:200px;
}
.block{
	display:block-flex;
	flex-direction:column;
	font-family: 'Montserrat', sans-serif;
	margin-top:20px;
	margin-bottom:20px;
	align-items:center;
	text-align:center;
}
.afterFirst{
	margin-top:80px;
}
.cityName{
	font-size:20pt;
}
.see{
	font-family: 'Montserrat', sans-serif;
	font-size:14pt;
	position:absolute;
	top:20px;
}
#see2{
	display:none;
}
.division{
	width:50vw;
	height:100vh;
}
object{
	margin:60px;
}
.visual{
	position:relative;
	top:10px;
}
.revert{
	background-color:white;
	mix-blend-mode:exclusion;
	width:50vw;
	height:150vh;
	position:fixed;
	top:-25vh;
	left:50vw;
}
.seeData{
	position:fixed;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100vw;
	height:10vh;
	top:10px;
}
.click{
	width:10vmax;
	display:flex;
	margin:0;
	position:absolute;
}
#switch1{
	display:flex;
	top:40px;
}
#switch2{
	display:none;
	top:60px;
}
.data{
	font-size:14pt;
	position:relative;
	top:20px;
	display:none;
}
.link{
	width:10vmax;
	height:10vh;
	display:flex;
}
.linkBox{
	position:fixed;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100vw;
	height:10vh;
	top:50px;
	z-index:500;
}

#link1{
	display:flex;
}
#link2{
	display:none;
}
button{
	background-color:transparent;
	border:none;
	outline:none;
	cursor:pointer;
}
