.speech-bubble {
    background: #efefef;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 30px;
    max-width: 200px;
    padding: 15px;
    position: relative;
    right:40px;
}
#mn{
	background: #B6E565;
    left:40px;
}
.speech-bubble p {
    margin: 0 0 10px;
    font-family:helvetica;
}
@keyframes appear{
    from{display:none;}
    to{display:block;}
}
a img:hover{
    transform:scale(1.5);
}
img{
    position:relative;
    width:5vmax;
    left:45vw;
    display:inline-block;
}