@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,700');
html{
	font-size:14pt;
}
.image{
	display:block;
	width:10vmax;
	margin-top:20px;
}
a{
	text-decoration:none;
	color:#8F602D;
}
a:hover{
	color:#814746;
}
#container1{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
#container2{
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	flex-direction:row;
	width:60vw;
}
.title{
	font-family:'Poppins',sans-serif;
	display:block;
	color:#583B1C;
	font-size:3em;
	font-weight:700;
}
.subtitle{
	font-family:'Poppins',sans-serif;
	color:#8F602D;
	font-size:1.3em;
	display:block;
	font-weight:500;
	text-align:center
}
#now{
	text-decoration:underline;
}
.body{
	font-family:'Roboto',sans-serif;
	color:#583B1C;
	font-size:1em;
	line-height:1.5em;
	display:inline-block;
}
.next{
	font-family:'Poppins',sans-serif;
	position:fixed;
	right:100px;
	top:48vh;
	font-size:5em;
}
.back{
	font-family:'Poppins',sans-serif;
	position:fixed;
	left:100px;
	top:48vh;
	font-size:5em;
}
@media 
(max-width: 695px)
 {
 	.title{
	font-size:2em;
	}
	.subtitle{
	font-size:1em;
	}
	#container2{
	width:70vw;
	}
	.next{
	font-family:'Poppins',sans-serif;
	position:fixed;
	right:50px;
	top:40vh;
	font-size:4em;
}
	.back{
	font-family:'Poppins',sans-serif;
	position:fixed;
	left:50px;
	top:40vh;
	font-size:4em;
	}
 }
@media 
(max-width: 470px)
 {
 	.title{
	font-size:1.5em;
	}
	.subtitle{
	font-size:0.8em;
	}
	#container2{
	width:70vw;
	}
 }
 @media only screen
 and (max-width: 414px){
 	#container2{
 		width:70vw;
 	}
 	.subtitle{
	font-size:3em;
	}
 	.body{
	font-size:3em;
	}
	.next{
	position:fixed;
	right:100px;
	top:30vh;
	font-size:5em;
	}
	.back{
	position:fixed;
	left:100px;
	top:30vh;
	font-size:5em;
	}
 }