#container3{
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	flex-direction:row;
	width:50vw;
	height:60vh;
	margin-top:70px;
}
.body{
	margin-left:20px;
	margin-right:20px;
}
.listtitle{
	font-weight:700;
	margin-top:10px;
	margin-bottom:7px;
}

@media only screen
 {
 	#container3{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	flex-direction:column;
	}
}