@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:700i');
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family:monospace;
  border-radius:0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
	background-color:#407873;
	margin-left:100px;
	margin-right:100px;
}

.circles{
	background-color:#c56c6d;
	width:160px;
	height:160px;
	z-index:-1;
	margin:0;
	border-radius:80px;
	position:absolute;
}
h2{
	color:#ece2d3;
	font-family:'Quicksand', sans-serif;
	font-style:medium;
	font-size:30pt;
	text-align:right;
	margin-left:45%;
}
a{
	color:#ece2d3;
	text-decoration:none; 
	font-size:60pt;
}
.next{
	position:absolute;
	right:100px;
	bottom:30px;
	opacity:0.5;
	transition:opacity .25s ease-in-out;
	font-size:30pt;
}
.next:hover{
	opacity:1;
}
#chi{
	font-size:60pt;
	position:absolute;
	display:inline-block;
	top:200px;
	right:65%;
}
#chi2{
	font-size:60pt;
	position:absolute;
	top:280px;
	right:65%;
}
#hi{
	font-size:60pt;
	position:absolute;
	top:280px;
	right:40%;
}
#hi2{
	font-size:60pt;
	position:absolute;
	top:360px;
	right:40%;
}
#ro{
	font-size:60pt;
	position:absolute;
	top:160px;
	right:22%;
}
#ro2{
	font-size:60pt;
	position:absolute;
	top:240px;
	right:25%;
}

@keyframes float{
0%{
	transform: translateY(0);
}
50%{
	transform: translateY(30%);
}
100%{
	transform: translateY(0);
}
}

#circlehi{
	top:340px;
	right:38%;
	width:140px;
	height:140px;
	animation-name:float;
	animation-duration:3s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circlechi{
	top:250px;
	right:68%;
	animation-name:float;
	animation-duration:5s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circlero{
	top:200px;
	right:20%;
	width:180px;
	height:180px;
	border-radius:90px;
	animation-name:float;
	animation-duration:4s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}