@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: -10px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family:monospace;
  border-radius:0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body{
	background-color:#407873;
	margin-left:300px;
	margin-right:100px;
}
h1{
	color:#ece2d3;
	font-family:'Gentium Basic', serif;
	font-style:light;
	font-style:italic;
	font-size:30pt;
	width:50%;
	margin-top:50px;
	line-height:42pt;
}
h2{
	color:#ece2d3;
	font-family:'Quicksand', sans-serif;
	font-style:medium;
	font-size:30pt;
	text-align:right;
	margin-left:45%;
	margin-top:50px;
	line-height:42pt;
}
a{
	color:#ece2d3;
	text-decoration:none;
}
.next{
	position:absolute;
	right:100px;
	bottom:30px;
	opacity:0.5;
	transition:opacity .25s ease-in-out;
	font-size:30pt;
}
.next:hover{
	opacity:1;
}
@keyframes float{
0%{
	transform: translateY(0);
}
50%{
	transform: translateY(30%);
}
100%{
	transform: translateY(0);
}
}
.circles{
	background-color:#c56c6d;
	width:160px;
	height:160px;
	z-index:-1;
	margin:0;
	border-radius:80px;
	position:absolute;
}
#circle1{
	top:290px;
	right:-60px;
	animation-name:float;
	animation-duration:4.6s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circle2{
	top:370px;
	right:30%;
	width:200px;
	height:200px;
	border-radius:100px;
	animation-name:float;
	animation-duration:4s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circle3{
	top:390px;
	right:20px;
	width:120px;
	height:120px;
	animation-name:float;
	animation-duration:3.6s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circle4{
	top:390px;
	right:130px;
	width:120px;
	height:120px;
	animation-name:float;
	animation-duration:5s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circle5{
	top:270px;
	right:320px;
	width:180px;
	height:180px;
	border-radius:90px;
	animation-name:float;
	animation-duration:3s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}
#circle6{
	top:350px;
	right:260px;
	animation-name:float;
	animation-duration:4.3s;
	animation-iteration-count:infinite;
	transition-timing-function:ease-in;
}